.mf-layout-default {
    .v-main__wrap {
        display: flex;
        flex-direction: column;

        .mf-component-app-bar {
            flex-grow: unset;
        }

        & > .container {
            flex-grow: 1;
            position: relative;

            .mf-page {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: auto;
            }
        }
    }
}
